.instructions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
    height: 100%;
}