.header{
    background: white;
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 4, 55, 1);
}

.header h1{
    margin: 0;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.header h3{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    position: relative;
    top: 1px;
}

.wave svg {
    display: block;
    width: 100%;
    height: 100px;
}

.titleBgCover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.footer{
    background: rgba(0, 4, 55, 1);
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContent{
    background: white;
    padding: 0 15% 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerContent h1{
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.footerSocials{
    color: rgba(0, 4, 55, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.footerSocials a{
    text-decoration: none;
    transition: all 0.2s ease;
    margin: 0 5px;
}

.footerSocials a:hover{
    color: blue;
}