.header{
    background: white;
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 4, 55, 1);
}

.header h1{
    margin: 0;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.header h3{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    position: relative;
    top: 1px;
}

.wave svg {
    display: block;
    width: 100%;
    height: 100px;
}

#title-bg-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}

.footer{
    background: rgba(0, 4, 55, 1);
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content{
    background: white;
    padding: 0 0 50px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-socials{
    color: rgba(0, 4, 55, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.footer-socials a{
    text-decoration: none;
    transition: all 0.2s ease;
    margin: 0 5px;
}

.footer-socials a:hover{
    color: blue;
}